@{
    ViewData["Title"] = "Contact Us";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body>
    <h1> This is the contact page.</h1>
</body>
</html>
